body {
    height: 100%;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    gap: 20px;
}

.weather-results {
    display: flex;
    flex-direction: column;
}

#today-weather {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#today-weather h3::first-letter {
    text-transform: capitalize;
    font-weight: normal;
}

#today-weather p {
    margin: 5px;
}